* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body{
  font-family: open sans;
  min-height: 100vh;
  background: #56CCF2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, hsla(340, 95%, 50%, 0.671), #54aef2), url(../images/Gatito.jpg); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(340, 95%, 50%, 0.671), #54aef2), url(../images/Gatito.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-position: bottom 550px left 0px;;

}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #000000;
    background: rgba(0, 0, 0,.2); 
    top: 0;
    width: 100%;
    height: 150%;
    transition: .2s;
    position: sticky;
    z-index: 99;
}

.bgc {
  background: #eee;
  padding: 10px;
}
.bgc .logo {
  font-size: 30px;
  color: #000;
}
.bgc nav a {
  color: #222;
}



header:hover{
    background-color: #000000;
    background: rgba(0, 0, 0, 1); 

}



.textos-header{
  display: flex;
  height: 430px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 1;
}
.textos-header h1{
 color: white;
  font-size: 50px;
}
.textos-header h2{
  font-size: 30px;
  font-weight: 300;
  color: white;
}

.logo{
  color: white;
  font-size: 35px;
  font-weight: bold;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    position: sticky;

}

.nav-list li a {
  margin-right: 10px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
  padding: 10px 1px;
  transition: all .3s ease;
  position: sticky;
}
nav ul li a:hover{
  color: #11ff00;
  padding-right: 5px;
  position: sticky;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}


/*Section 2*/
.hero{
  width: 100%;
  padding: 100px 0px;
  background-color: white;
}
.hero-main{
  width: 1130px;
  max-width: 95%;
  min-height: 400px;
  margin-left: 100px;
}

.hero img{
  text-align: right;
  height: auto;
  width: 430px;
  border-radius: 5px;
  margin-left: 5px;
  box-sizing: border-box;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff;
  transition: .3s;
  float: left;
}

.hero-text{
  width: 550px;
  float: right;
  margin-right: 50px;
}

.hero-text h3{
  color: #1100fa;
  font-size: 45px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.hero-text p{
  color: black;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}


/*Section 3*/
.hero2{
  width: 100%;
  padding: 100px 0px;
  background-color: white;
}
.hero-body{
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: block flow;
  align-items: center;
  justify-content: space-around;
}

.hero-body-img{
  height: auto;
  width: 210px;
  border-radius: 5px;
  margin: 5px;
  box-sizing: border-box;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff;
  transition: .3s;
  float: none;
}

.hero-body-text h3{
  color: #1100fa;
  font-size: 23px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.hero-text p{
  color: black;
  letter-spacing: 1px;
  line-height: 18px;
  font-size: 16px;
  margin-bottom: 45px;
}

/*Pie de Pagina */
footer{
  background-color: #292a2e;
  padding: 30px 0;
}

.footer-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.footer-links{
  width: 25%;
  padding: 0 15px;
}

.footer-links h4{
font-size: 20px;
  color: #fff;
  margin-bottom: 25px;
  font-weight: 500;
  border-bottom: 2px solid #00C3FF;
  padding-bottom: 10px;
  display: inline-block;
}

.footer-links ul li a{
font-size: 18px;
  text-decoration: none;
  color: #BBBB;
  display: block;
  margin-bottom: 15px;
  transition: all .3s ease;

}
.footer-links ul li a:hover{
  color: #FFF;
  padding-left: 6px;
}

.red-social a{
  display: inline-block;
  min-height: 40px;
  min-width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  transition: all .5s ease;
}

.red-social a:hover{
  color: #00C3FF;
}
.pie-pagina .grupo-2{
  padding: 15px 10px;
  text-align: center;
  color: white;
}
.pie-pagina .grupo-2 small{
  font-size: 15px;
}
.wave{
  display: inline-block;
  position:absolute;
  width: 100%;
  height: 150px;
  vertical-align: middle;
  overflow: hidden;
  margin-top: -126px;
  z-index: 1
}

/* Aviso de Cookies*/
.aviso-cookies{
  display: none;
  background: white;
  padding: 20px;
  width: calc(100% - 40px);
  max-width: 400px;
  line-height: 150%;
  border-radius: 10px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 98;
  padding-top: 60px;
  box-shadow: 0px 2px 20px 10px rgba(222, 222, 222, .25);
  text-align: center;
}

.aviso-cookies.activo{
  display: block;
}
.aviso-cookies .galleta{ 
  max-width: 25%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.aviso-cookies .titulo,
.aviso-cookies .parrafo{
  margin-bottom: 15px;
}

.aviso-cookies .boton{
  width: 100%;
  background: #595959;
  border: none;
  color: white;
  font-family: "Roboo", sans-serif;
  text-align: center;
  padding: 15px 20px;
  font-weight: 700;
  cursor: pointer;
  transition: .3s ease all;
  border-radius: 5px;
  margin-bottom: 15;
  font-size: 14px;
}

.aviso-cookies .boton:hover{
  background-color: black;
}

.aviso-cookies .enlace{
  color:#3275fb;
  text-decoration: none;
}

.aviso-cookies .enlace:hover{
 text-decoration: underline;
}

.fondo-aviso-cookies{
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 97;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  
} 

.fondo-aviso-cookies.activo{
  display: block;
}


/* Gatito.html */
.rickroll{
  background-size: cover;
  bottom: 0;
  height: auto;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  right: 0;
  width: auto;
  z-index: -100;
}

/* Gatito2.html */
.Swifteando{
  background-size: cover;
  bottom: 0;
  height: auto;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  right: 0;
  width: auto;
  z-index: -100;
}

/*Galería HTML_______________________________-----------------------------------------------*/
.herod{
  width: 100%;
  padding: 100px 100px;
  background-color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.sliderd{
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  
}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 800px;
  height: 500px;
  
}

/* CSS manual navigation */
.navigation-manual{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #40D3DC;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}
#radio3:checked ~ .first{
  margin-left: -40%;
}
#radio4:checked ~ .first{
  margin-left: -60%;
}

/* CSS auto navigation */
.navigation-auto{
  position: absolute;  
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div{
  border: 2px solid #40D3DC ;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}


.navigation-auto div:not(:last-child){
margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #40D3DC;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #40D3DC;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #40D3DC;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #40D3DC;
}

/* Secion2 */
.contenedor-hero3{
  width: 100%;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 8%;
}
.gallery{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  
}
.gallery img{
  width: 100%;
}



.hero-text3{
  color: blue;
  font-size: 25px;
  display: flex;
  align-items: center;
  flex-flow: column;
  margin-bottom: 50px;
}



/*END Galería HTML_______________________________-----------------------------------------------*/

/*Estrenos HTML_______________________________-----------------------------------------------*/
.hero3{
  width: 100%;
  padding: 100px 0px;
  background-color: white;
}

.estrenos{
  padding: 50px 0 150px 0;
}

.estrenos h2{
  color: #1100fa;
  font-size: 40px;
  text-transform: capitalize;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-flow: column;
}

.sliderhero{
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-flow: column;
}

.slider{
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: rotate 60s linear infinite;
  z-index: 90;
}
@keyframes rotate{
  0%{
    transform: perspective(1000px) rotateY(0deg);
  }
  100%{
    transform: perspective(1000px) rotateY(360deg);
  }
}

.slider span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i)*45deg))  translateZ(350px);
}

.slider span img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  transition: 2s;
}

.slider span img:hover{
  transform: translateY(-50px) scale(1.2);;
}

/* Lista de estrenos */
.lista-estrenos{
  color: #1100fa;
  font-size: 30px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  flex-flow: column;
}
/*  Estrenos de la enredadera:::::--> */
.container{
  background: #ffffff;
}

.container .container-estrenos{
  display: flex;
  align-items: center;
  flex-flow: column;
  padding: 50px;
}

.container .container-estrenos .box{
  /* margin-top: 20px; */
  margin-bottom: 20px;
  height: 180px;
  width: 80%;
  display: flex;
  align-items: center;
  background-color: #e0e0e0;
  border-radius: 1rem;
  box-shadow: 0 .5rem 1rem #000;
  overflow: hidden;
}
.container .container-estrenos .box-image{
  height: 100%;
  width: 25%;
}

.container .container-estrenos .box-image img{
  height: 100%;
  width: 80%;
}

.small-title{
  width: 200px;
  font-size: 10px;
  margin-left: -30px;
}
.small-text{
  width: 560px;
  margin-left: 30px;
}


.small-link{
  margin-left: 30px;

}

.small-button{
  padding: 10px 20px;
  background-color: #a783fb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.small-button:hover{
  background-color: #11ff00;
}
.small-button:active{
  background-color: #b3ffad;
}


/* END Estrenos HTML_______________________________-----------------------------------------------*/

/*Sobre Nosotros HTML_______________________________-----------------------------------------------*/
.hero4{
  width: 100%;
  padding: 100px 0px;
  background-color: white;
  
  
}
.hero-body4{
  width: 3330px;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-flow: column;

}

.hero-text4{
font-size: 8px;
}

.map-google{
  width: 480%;
  height: 500px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.hero-body-text4 h3{
  color: #1100fa;
  font-size: 23px;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.hero-text4 p{
  color: black;
  letter-spacing: 1px;
  line-height: 18%;
  font-size: 16px;
  margin-bottom: 15px;
}

.hero-body-img4{
  height: auto;
  width: 210px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff;
  transition: .3s;
  display: flex;
  align-items: center;
  flex-flow: column;
  
}

/*END Sobre Nosotros HTML_______________________________-----------------------------------------------*/

/* Adaptación a tablet -----------------------------------------------------------------------*/
@media screen and (max-width: 550px) {

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #ffffff;

    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
      opacity: 0;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 1rem;
      /* position: absolute; */
      top: 0;
      right: 0;
      bottom: 0;
      background-color: #000000;
      background: rgba(0, 0, 0,.5);
      padding-right: 30px;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
      z-index: 99; /*Es la posición que de Z es decir si queda por atras o delante*/
    }
  .nav:hover{
    background-color: #000000;
  }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #ecececec;
    }
  .logo{
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .textos-header h1{
   color: white;
    font-size: 40px;
  }
  .textos-header h2{
    font-size: 20px;
    font-weight: 300;
    color: white;
  }

  
  /*Section 2--------------*/
  .hero{
    width: 100%;
    padding: 100px 0px;
    background-color: white;
  }
  .hero-main{
    width: 5000px;
    max-width: 95%;
    margin: 0 auto;
    display: block flow;
    align-items: center;
    justify-content: space-around;
  }

  .hero img{
    height: auto;
    width: 300px;
    border-radius: 5px;
    margin: 5px;
    box-sizing: border-box;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff;
    transition: .3s;
    float: none;
  }

.hero-text{
  float: none;
  text-align: center;
  
}

  .hero-text h3{
    margin-top: 20px;
    color: #1100fa;
    font-size: 23px;
    text-transform: capitalize;
    margin-bottom: 10px;
  }

  .hero-text p{
    max-width: 1000px; 
    font-size: 18px;
    line-height: 18px;
    
  }
  /*Galeria HTML_______________________________-----------------------------------------------*/
  .hero-text3{
    font-size: 17px;
    flex-flow: column;
    margin-bottom: 50px;
    text-align: center;
  }
  
  .sliderd{
    width: 450px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;

  }

  .slides{
    width: 500%;
    height: 500px;
    display: flex;
  }

  .slides input{
    display: none;
  }

  .slide{
    width: 20%;
    transition: 2s;
  }

  .slide img{
    width: 450px;
    height: 300px;

  }

  /* CSS manual navigation */
  .navigation-manual{
    position: absolute;
    width: 450px;
    margin-top: -230px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
  }


  /* CSS auto navigation */
  .navigation-auto{
    position: absolute;  
    display: flex;
    width: 450px;
    margin-top: 270px;
    margin-left: 0px;
    justify-content: center;
    
  }



  /*END Galeria HTML_______________________________-----------------------------------------------*/



  
/*PIE DE PAGINA-----------*/
  .footer-row{
    text-align: center;
  }
  .footer-links{
    width: 100%;
    margin-bottom: 30px;
  }

  /*Sobre Nosotros HTML_______________________________-----------------------------------------------*/

  .hero-text4{
    margin-bottom: 50px;
  }



  .hero-body-text4 h3{
    color: #1100fa;
    font-size: 23px;
    text-transform: capitalize;
  }

  .hero-text4 p{
    color: black;
    letter-spacing: 1px;
    line-height: 100%;
    font-size: 16px;
  }

  .map-google{
    width: 100%;
    height: 500px;
    margin-top: 30px;
    margin-bottom: 30px;
  }


  .hero-body-img4{
    height: auto;
    width: auto;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff;
    transition: .3s;
  }


  /*END Sobre Nosotros HTML_______________________________-----------------------------------------------*/
  /* Gatito.html */
  .rickroll{
    background-size: cover;
    bottom: 0;
    height: 480px;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    right: 0;
    width: 360px;
    z-index: -100;
  }

  /*Estrenos HTML_______________________________-----------------------------------------------*/
  .hero3{
    width: 100%;
    padding: 100px 0px;
    background-color: white;
  }

  .estrenos{
    padding: 50px 0 150px 0;
  }

  .estrenos h2{
    color: #1100fa;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    flex-flow: column;
  }

  .sliderhero{
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-flow: column;
  }

  .slider{
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    animation: rotate 60s linear infinite;
    z-index: 90;
  }
  @keyframes rotate{
    0%{
      transform: perspective(1000px) rotateY(0deg);
    }
    100%{
      transform: perspective(1000px) rotateY(360deg);
    }
  }

  .slider span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg))  translateZ(150px);
  }

  .slider span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: 2s;
  }

  .slider span img:hover{
    transform: translateY(-50px) scale(1.2);;
  }

  /* Lista de estrenos */
  .lista-estrenos{
    color: #1100fa;
    font-size: 15px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    flex-flow: column;
  }
  /*  Estrenos de la enredadera:::::--> */
  .container{
    background: #ffffff;
  }

  .container .container-estrenos{
    display: flex;
    align-items: center;
    flex-flow: column;
    padding: 50px;
  }

  .container .container-estrenos .box{
    height: 230px;
    width: 130%;
    flex-flow: column;
  }
  .container .container-estrenos .box-image{
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    flex-flow: column;
    margin-left: 10px;

  }

  .container .container-estrenos .box-image img{
    height: 80%;
    width: 100%;
  }

  .small-title{
    width: 200px;
    font-size: 8px;
    margin-left: 30px;
  }
  .small-text{
    height: 80%;
    width: 360px;
    font-size: 8px;
    padding: 20px;
    margin-left: 5px;
    text-align: center;
  }


  .small-link{
   margin-right: 7px;
   margin-bottom: 30px;

  }

  .small-button{
    padding: 10px 20px;
    background-color: #a783fb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 8px;

  }
  .small-button:hover{
    background-color: #11ff00;
  }
  .small-button:active{
    background-color: #b3ffad;
  }


  /* END Estrenos HTML_______________________________-----------------------------------------------*/


  

}



/* Adaptación a Movil -----------------------------------------------------------------------*/
@media screen and (max-width: 375px) {

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #ffffff;

    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
      opacity: 0;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 1rem;
      /* position: absolute; */
      top: 0;
      right: 0;
      bottom: 0;
      background-color: #000000;
      background: rgba(0, 0, 0,.5);
      padding-right: 30px;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
      z-index: 99; /*Es la posición que de Z es decir si queda por atras o delante*/
    }
  .nav:hover{
    background-color: #000000;
  }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
      color: #ecececec;
      font-size: 10px;
    }
  .logo{
    color: white;
    font-size: 15px;
    font-weight: bold;
  }
  .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .textos-header h1{
   color: white;
    font-size: 30px;
  }
  .textos-header h2{
    font-size: 15px;
    font-weight: 300;
    color: white;
  }

  /*Section 2--------------*/



  .hero img{
    text-align: center; 
    height: auto;
    width: 280px;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff;
    transition: .3s;
    float: none;
    margin-left: 35px;
  }

  .hero-text{
    width: 340px;
    float: none;

  }


  .hero-text h3{
    color: #1100fa;
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 20px;
  }

  .hero-text p{
    color: black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 15px;
    margin-bottom: 45px;
  }
  /*Galeria HTML_______________________________-----------------------------------------------*/
  .hero-text3{
    font-size: 13px;
    flex-flow: column;
    margin-bottom: 50px;
    text-align: center;
  }

  .sliderd{
    width: 250px;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;

  }

  .slides{
    width: 500%;
    height: 500px;
    display: flex;
  }

  .slides input{
    display: none;
  }

  .slide{
    width: 20%;
    transition: 2s;
  }

  .slide img{
    width: 250px;
    height: 150px;

  }

  /* CSS manual navigation */
  .navigation-manual{
    position: absolute;
    width: 280px;
    margin-top: -380px;
    margin-left: -22px;
    display: flex;
    justify-content: center;
  }


  /* CSS auto navigation */
  .navigation-auto{
    position: absolute;  
    display: flex;
    width: 280px;
    margin-top: 120px;
    margin-left: -22px;
    justify-content: center;

  }



  /*END Galeria HTML_______________________________-----------------------------------------------*/
 
/*PIE DE PAGINA-----------*/
  .footer-row{
    text-align: center;
  }
  .footer-links{
    width: 100%;
    margin-bottom: 30px;
  }

  /*Estrenos HTML_______________________________-----------------------------------------------*/
  .hero3{
    width: 100%;
    padding: 100px 0px;
    background-color: white;
  }

  .estrenos{
    padding: 50px 0 150px 0;
  }

  .estrenos h2{
    color: #1100fa;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    flex-flow: column;
  }

  .sliderhero{
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-flow: column;
  }

  .slider{
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    animation: rotate 60s linear infinite;
    z-index: 90;
  }
  @keyframes rotate{
    0%{
      transform: perspective(1000px) rotateY(0deg);
    }
    100%{
      transform: perspective(1000px) rotateY(360deg);
    }
  }

  .slider span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg))  translateZ(150px);
  }

  .slider span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: 2s;
  }

  .slider span img:hover{
    transform: translateY(-50px) scale(1.2);;
  }

  /* Lista de estrenos */
  .lista-estrenos{
    color: #1100fa;
    font-size: 15px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    flex-flow: column;
  }
  /*  Estrenos de la enredadera:::::--> */
  .container{
    background: #ffffff;
  }

  .container .container-estrenos{
    display: flex;
    align-items: center;
    flex-flow: column;
    padding: 50px;
  }

  .container .container-estrenos .box{
    height: 230px;
    width: 130%;
    flex-flow: column;
  }
  .container .container-estrenos .box-image{
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    flex-flow: column;
    margin-left: 10px;
    
  }

  .container .container-estrenos .box-image img{
    height: 80%;
    width: 100%;
  }

  .small-title{
    width: 200px;
    font-size: 8px;
    margin-left: 30px;
  }
  .small-text{
    height: 80%;
    width: 360px;
    font-size: 8px;
    padding: 20px;
    margin-left: 5px;
    text-align: center;
  }


  .small-link{
   margin-right: 7px;
   margin-bottom: 30px;
  
  }

  .small-button{
    padding: 10px 20px;
    background-color: #a783fb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 8px;

  }
  .small-button:hover{
    background-color: #11ff00;
  }
  .small-button:active{
    background-color: #b3ffad;
  }


  /* END Estrenos HTML_______________________________-----------------------------------------------*/

  /*Sobre Nosotros HTML_______________________________-----------------------------------------------*/

  .hero-text4{
    margin-bottom: 50px;
 
  }



  .hero-body-text4 h3{
    color: #1100fa;
    font-size: 23px;
    text-transform: capitalize;
    
  }

  .hero-text4 p{
    color: black;
    letter-spacing: 1px;
    line-height: 100%;
    font-size: 16px;
    
  }

  .map-google{
    margin-top: 30px;
    margin-bottom: 30px;
  }


  .hero-body-img4{
    height: auto;
    width: auto;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff;
    transition: .3s;
  }


  /*END Sobre Nosotros HTML_______________________________-----------------------------------------------*/





  


}











/*Adaptative dispositives  */
@media screen and (max-width: 550px) and (min-width: 375px){
  /* /css */
}

